<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-security-policy"
          content="img-src 'self' " />
    <meta http-equiv="content-security-policy"
          content="iframe-src 'https://www.youtube.com/embed/tJp_3-VZZjI' " />
    <title>My Gram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a href="~/Home/Index" id="MyGram"> My Gram </a>
            </div>
            <div class="container">
                <input type="text" placeholder="Search..." />
            </div>
            <div class="container">
                <a class="GramButtons" href="~/Home/LogIn"> Log In </a>
                <a class="GramButtons" href="~/Home/Register"> Sign Up </a>
                <a href="~/Home/ShopperProfile"> <img src="~/Images/usericon.JPG" id="usericon" /> </a>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="MContainer">
        <table id="table">
            <tr colspan="1">
                <td>
                    <span>Log In to My Gram</span>
                </td>
                <td colspan="1">
                    <a class="GramButtons2" href="~/Home/LogIn">Log In</a>
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    <span>Log in to see photos and videos from friends and discover other accounts you'll love.</span>
                </td>
                <td colspan="1">
                    &nbsp;&nbsp;&nbsp;&nbsp; <a id="SignUp" href="~/Home/Register">Sign Up</a>
                </td>
            </tr>
        </table>
    </div>
    <footer id="Footer" class="border-top footer text-muted">
        <div class="container">
            <a class="Links" href="https://www.google.com/"> About </a>
            <a class="Links" href="https://www.google.com/"> Blog </a>
            <a class="Links" href="https://www.google.com/"> Jobs </a>
            <a class="Links" href="https://www.google.com/"> Help </a>
            <a class="Links" href="https://www.google.com/"> English </a>
            <a class="Links" href="https://www.google.com/"> 2021 MyGram </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
