<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>My Gram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        #container {
            text-align:center;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                My Gram 
            </div>
            <div class="container" id="container"> <button id="LogIn"> Log In</button>  </div>
              <button> Sign Up </button> 
            
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <div>
                <table>
                    <thead>
                        <tr>
                            <th> Image 1 </th>
                            <th> image 2 </th>
                            <th> Image 3 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Image 4 </td>
                            <td>Image 5 </td>
                            <td>Image 6 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           About Blog Jobs Help English 2021 MyGram
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
   
</body>
</html>
