@{
    ViewData["Title"] = "Home Page";
}

<style>
    #container {
        text-align: center;
    }

    img {
        width: 150px;
        height: 150px;
    }

    iframe {
        width: 150px;
        height: 150px;
    }
</style>

<table>
    <tbody>
        <tr>
            <td rowspan="3">
            <img alt="selfie" src="~/Images/selfie.JPG" />
            </td>
            <td>
                Beyond_Danny <button> Follow </button>
            </td>
        </tr>
        <tr>
            <td>
                666 Post     -2 Followers     1 Following
            </td>
        </tr>
        <tr>
            <td>
                Follow me i promise i wont follow back :)
            </td>
        </tr>
    </tbody>
</table>
<p> </p>
<div>
    <a href="https://www.google.com/"> Posts </a>
    <a href="https://www.google.com/"> Reels </a>
    <a href="https://www.google.com/"> IGTV </a>
    <a href="https://www.google.com/"> Tagged </a>
</div>
<p> </p>

<div>
    <table>
        <thead>
            <tr>
                <th> <img alt="Pantera" src="~/Images/pantera.jpeg" />     </th>
                <th> <img alt="RastaKing" src="~/Images/bob.jpeg" />      </th>
                <th> <img alt="Cafesito" src="~/Images/cafe.jpg" />      </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <img alt="FOREVER LIVE CEPILLIN <3" src="~/Images/cepellin.jpeg" />     </td>
                <td> <img alt="MH" src="~/Images/mh.jpg" />     </td>
                <td> <iframe src="https://www.youtube.com/embed/tJp_3-VZZjI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </td>
            </tr>
        </tbody>
    </table>
</div>

