@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />

    <table id="MTable">
        <tbody>
            <tr>
                <td rowspan="3">
                    <img id="SelfiePic" alt="selfie" src="~/Images/selfie.JPG" />
                </td>
                <td>
                    Beyond_Danny <button class="GramButtons"> Follow </button>
                </td>
            </tr>
            <tr>
                <td>
                    <b>666 </b>&nbsp; Post     <b>-2</b>&nbsp; Followers     <b>1</b>&nbsp; Following
                </td>
            </tr>
            <tr>
                <td>
                    Follow me i promise i wont follow back :)
                </td>
            </tr>
        </tbody>
    </table>

<p> </p>
<div class="links2">
    <a class="links2" href="https://www.google.com/"> Posts &nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a class="links2" href="https://www.google.com/"> Reels &nbsp;&nbsp;&nbsp;&nbsp; </a>
    <a class="links2" href="https://www.google.com/"> IGTV &nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a class="links2" href="https://www.google.com/"> Tagged &nbsp;&nbsp;&nbsp;&nbsp;</a>
</div>
<p> </p>

<div>
    <table id="MTable">
        <thead>
            <tr>
                <th> <img alt="Pantera" src="~/Images/pantera.jpeg" />     </th>
                <th> <img alt="RastaKing" src="~/Images/bob.jpeg" />      </th>
                <th> <img alt="Cafesito" src="~/Images/cafe.jpg" />      </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <img alt="FOREVER LIVE CEPILLIN <3" src="~/Images/cepellin.jpeg" />     </td>
                <td> <img alt="MH" src="~/Images/mh.jpg" />     </td>
                <td> <iframe src="https://www.youtube.com/embed/tJp_3-VZZjI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </td>
            </tr>
        </tbody>
    </table>
</div>

