@page
@{
}
<form>
    <fieldset>
        <legend> User Information </legend>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="UserName"> User Name</label>
                    </td>
                    <td>
                        <input id="UserName"
                               type="text"
                               size="40"
                               maxlength="20"
                               placeholder="Add your username" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Password">Password </label>
                    </td>
                    <td>
                        <input id="Password"
                               type="password"
                               size="40"
                               maxlength="20"
                               placeholder="Add your Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button> Register </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>