@page
@{
}
<form method="post" action="~/Home/SaveUser">
    <fieldset>
        <legend> User Information </legend>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="UserName"> User Name</label>
                    </td>
                    <td>
                        <input name="UserName"
                               id="UserName"
                               type="text"
                               size="40"
                               maxlength="20"
                               placeholder="Add your username" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Password">Password </label>
                    </td>
                    <td>
                        <input name="Password"
                               id="Password"
                               type="password"
                               size="40"
                               maxlength="20"
                               placeholder="Add your Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Register" />
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>